
.sc-view.class-info aside {
  background-color: #EEF3F6;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 10px;
}

.sc-view.class-info aside .entity {
  background-position: 6px 5px;
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: hidden;
  padding: 5px 5px 5px 28px;
  text-overflow: ellipsis;
}

.sc-view.class-info aside .property {
  background-image: url(img/property_icon.png);
}

.sc-view.class-info aside .method {
  background-image: url(img/method_icon.png);
}

.sc-view.class-info article {
  bottom: 0;
  font-size: 13px;
  left: 251px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 30px;
  position: absolute;
  right: 0;
  top: 0;
}

.sc-view.class-info article p {
  margin-bottom: 15px;
}

.sc-view.class-info article .overview,
.sc-view.class-info article p {
  font-size: 14px;
  max-width: 60em;
}

.sc-view.class-info article .class-name {
  font-size: 2em;
}

.sc-view.class-info article .class-metadata {
  margin-bottom:15px;
}

.sc-view.class-info article .class-metadata .name {
  font-weight:bolder;
}

.sc-view.class-info article #symbol-identifier {
  font-size: 2em;
  font-weight: bolder;
  margin-bottom: 15px;
}

.sc-view.class-info article h1 {
  font-size: 1.5em;
  font-weight: bolder;
  margin-bottom: 15px;
}

.sc-view.class-info article h2 {
  font-size: 15px;
  font-weight: bolder;
  margin-bottom: 15px;
  color: #2b4270;
}

.sc-view.class-info article .section-header {
  color: #2b4270;
  margin-bottom: 0;
  font-size: 1.7em;
  font-weight:bolder;
}

.sc-view.class-info article ul {
  margin: 0 0 15px;
}

.sc-view.class-info article li {
  line-height: 1.5em;
}

.sc-view.class-info article p .syntax {
  color: #111;
  font-family: monospace;
}

.sc-view.class-info article pre {
  font-family: monospace;
  overflow: auto;
  margin-bottom: 15px;
  background: #D6EFFF;
  padding:5px;
  border: 1px #AFD6F0 solid;
  border-radius: 3px;
  line-height:1.3em;
}

.sc-view.class-info article .data-type {
  padding: 2px;
  color: gray;
  font-weight: bolder;
}

.sc-view.class-info article .data-type.clickable:hover {
  cursor: pointer;
  text-decoration:none;
}

.sc-view.class-info article .data-type.clickable {
  color: blue;
  text-decoration:underline !important;
  font-weight: normal;
}

#class .symbol .header {
  padding-left: 0;
}

.sc-view.class-info article .method-signature {
  font-weight:bolder;
}

.sc-view.class-info article .method-param-optional {
  font-style: italic;
  color: gray;
}

.sc-view.class-info article .deprecated {
  font-weight: bolder;
  color: red;
  margin-bottom: 15px;
}

.sc-view.class-info article .symbol-details {
  font-style: italic;
  color: gray;
  margin-left: 5px;
}

.sc-view.class-info article .returns {
  margin-left: 15px;
}

.sc-view.class-info article .returns .name {
  /*color: gray;*/
  font-weight:bolder;
}

.sc-view.class-info article .subtitles {
  margin-bottom:5px;
  margin-left:15px;
}

.sc-view.class-info article .subtitles .name {
  font-weight:bolder;
}

.sc-view.class-info article .subtitles .value {

}

.sc-view.class-info article .overview {
  margin-left:15px;
}

.sc-view.class-info article .header {
  font-size: 13px;
  font-weight: bolder;
  margin-bottom:15px;
}

.sc-view.class-info article li.symbol {
  border-bottom: 1px solid #a8b0ba;
  padding: 15px 0;
}

.sc-view.class-info article li.symbol:last-child {
  border-bottom: 0 none;
}
