$p_padding: 15px;
$blue_header: #2b4270;


#mainPane #class-info {

  position: absolute;
  top:0;
  left:190px;
  right:0;
  bottom:0;
  background: white;
  overflow:auto;
  font-size:14px;
  padding: 20px;
  font-size:1em;

  p {
    margin-bottom: $p_padding;
  }

  & .class-name {
    font-size:2em;
  }

  & .class-metadata {
    margin-bottom:15px;

    & .name {
      font-weight:bolder;
    }
  }

  & #symbol-identifier {
    font-size: 2em;
    font-weight: bolder;
    margin-bottom:$p_padding;
  }

  & h1 {
    font-size: 1.5em;
    font-weight: bolder;
    margin-bottom:$p_padding;
  }

  & h2 {
    font-weight: bolder;
    margin-bottom:$p_padding;
    color: $blue_header;
  }


  & .section-header {
    color: $blue_header;
    margin-bottom:$p_padding;
    font-size: 1.7em;
    font-weight:bolder;
  }

  & hr {
    border: none;
    background:#a8b0ba;
    height: 1px;
    margin:15px 0;
  }

  & ul {
    margin-left: 30px;
    margin-bottom: $p_padding;
  }

  & li {
    line-height: 1.5em;
  }

  & pre {
    overflow: auto;
    margin-bottom: $p_padding;
    background: #D6EFFF;
    padding:5px;
    border: 1px #AFD6F0 solid;
    line-height:1.3em;
  }

  & .data-type {
    margin-right: 2px;
    padding:2px;
    color: gray;
    font-weight:bolder;
  }

  & .data-type.clickable:hover {
    cursor: pointer;
    text-decoration:none;
  }

  & .data-type.clickable {
    color:blue;
    text-decoration:underline !important;
  }


  & .method-signature {
    font-weight:bolder;
  }

  & .returns {
    margin-left: 15px;
  }

  & .returns .name {
    /*color: gray;*/
    font-weight:bolder;
  }

  & .subtitles {
    color: gray;
    margin-bottom:5px;
    margin-left:15px;
  }

  & .subtitles .name {
    font-weight:bolder;
  }

  & .subtitles .value {

  }

  & .overview {
    margin-left:15px;
    margin-bottom:15px;
  }

  & .header {
    font-weight:bolder;
    margin-bottom:$p_padding;
  }

  & li.symbol {
    list-style: none;
  }
}

